<ol class="breadcrumb">
  <li><a href="#customers">Kunden</a></li>
  <li><a data-href="customer" data-text="name"></a></li>
  <li class="active">Editieren</li>
</ol>

<button class="btn btn-primary"
        data-action="save"
        style="margin-bottom: 20px;">
  Speichern
</button>

<div class="form-horizontal">
  <div class="form-group">
    <label for="name-input" class="col-sm-2">Name</label>
    <div class="col-sm-5">
      <input id="name-input" class="form-control" data-value="name" type="text">
    </div>
  </div>

  <div class="form-group">
    <label for="email-input" class="col-sm-2">E-Mail</label>
    <div class="col-sm-5">
      <input id="email-input" class="form-control"
             data-value="email" type="text">
    </div>
  </div>

  <div class="form-group">
    <label for="street-address-input" class="col-sm-2">Straße</label>
    <div class="col-sm-5">
      <input id="street-address-input" class="form-control"
             data-value="street_address" type="text">
    </div>
  </div>

  <div class="form-group">
    <label for="zip-code-input" class="col-sm-2">PLZ</label>
    <div class="col-sm-5">
      <input id="zip-code-input" class="form-control"
             data-value="zip_code" type="text">
    </div>
  </div>

  <div class="form-group">
    <label for="email-input" class="col-sm-2">Ort</label>
    <div class="col-sm-5">
      <input id="location-input" class="form-control"
             data-value="location" type="text">
    </div>
  </div>
</div>

<h3>Telefonnummern</h3>
<div data-value="phone">
</div>
